/* login style */
.login-box {margin: 0 auto;text-align: center;overflow: hidden;}
.login-title{font-size:60px; padding-top:3em;}
.login-content { background-color:#21272c; margin-top:6em; }
.lg-name{ font-size:36px; padding-top:2em; color:#7e8a95;}

/* input */

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	width: 700px;
	vertical-align: top;
}

.input-field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #000;
	color: #aaa;
	font-weight: bold;
}

.input-field:focus {
	outline: none;
}

.input-label {
	display: inline-block;
	float: right;
	width: 40%;
	color: #7e8a95;
	font-size: 24px;
	font-weight:bold;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input-label-content {
	position: relative;
	display: block;
	padding: 30px 0;
	width: 100%;
}


.input-haruki {
	margin: 10em 3em 10em;
}

.input-field-haruki {
	padding: 20px 0 30px 0;
	width: 100%;
	background: transparent;
	color: #01ffff;
	font-size: 36px;
	font-weight:normal;
}

.input-label-haruki {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.input-label-content-haruki {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input-label-haruki::before,
.input-label-haruki::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 3px;
	background: #3a5066;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input-label-haruki::before {
	top: 0;
}

.input-label-haruki::after {
	bottom: 0;
}

.input-field-haruki:focus + .input-label-haruki .input-label-content-haruki,
.input-filled .input-label-content-haruki {
	-webkit-transform: translate3d(0, -90%, 0);
	transform: translate3d(0, -90%, 0);
}

.input-field-haruki:focus + .input-label-haruki::before,
.input-filled .input-label-haruki::before {
	-webkit-transform: translate3d(0, -0.5em, 0);
	transform: translate3d(0, -0.5em, 0);
}

.input-field-haruki:focus + .input-label-haruki::after,
.input-filled .input-label-haruki::after {
	-webkit-transform: translate3d(0, 0.5em, 0);
	transform: translate3d(0, 0.5em, 0);
}

/* btn*/
.btn {
	border: none;
	font-family: inherit;
	font-size: 24px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 30px 180px;
	display: inline-block;
	margin: 4em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1 {
	border: 3px solid #5aa5c5;
	color: #11ffff;
}

.btn-1:hover{
	border-color:#60c6f6;
    box-shadow: 0 0 60px #0c5093;
}

.btn-1e {
	overflow: hidden;
}

.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #60c6f6;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
	color: #000;
}

.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}
